{% load static %}
  <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Our Faculitys</h2>
          <p>Online Project Submission, Management and Progress
              Monitoring System (OPS) is a system that enable the
              student to submit their assignment or project online
              without submitting any physical file. Before the submission, the
              student needs to update their progress to the system and the lecturer
              able to view the progress and give comments online. OPS is providing an online discussion,
              document sharing for student and lecturer and web real time communication technology. Any project
              that behind the schedule, the system will be able to send an alert to the student to notify the status.
              The system design for assignment and project submission process is being discussed. The impact
              of the system to students, lecturers and university are discussed.
          </p>
        </div>

        <div class="owl-carousel testimonials-carousel">
{% if guides %}
            {% for guide in guides %}
          <div class="testimonial-item">
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i> <br>
               Qualification : {{ guide.degrees }},<br>
                Email : {{ guide.user.email }},<br>
                Phone : {{ guide.phone }}<br>
                --Dept. of Computer Science.
                <br>
               &emsp; &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;      &emsp;        &emsp;        &emsp;

              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
            <img height="100px" src="{{ guide.photo.url}}" class="testimonial-img" alt="">
            <h3>{{guide.user.first_name}}{{guide.user.last_name}}</h3>
            <h4>{{guide.designatation}}</h4>
          </div>{% endfor %} {% else %}
        <p>No Faculty Availabule</p>
        {% endif %}

{#          <div class="testimonial-item">#}
{#            <p>#}
{#              <i class="bx bxs-quote-alt-left quote-icon-left"></i>#}
{#              Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.#}
{#              <i class="bx bxs-quote-alt-right quote-icon-right"></i>#}
{#            </p>#}
{#            <img src="{% static 'PREMA C.jpg' %}" class="testimonial-img" alt="">#}
{#            <h3>Sara Wilsson</h3>#}
{#            <h4>Designer</h4>#}
{#          </div>#}
{##}
{#          <div class="testimonial-item">#}
{#            <p>#}
{#              <i class="bx bxs-quote-alt-left quote-icon-left"></i>#}
{#              Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.#}
{#              <i class="bx bxs-quote-alt-right quote-icon-right"></i>#}
{#            </p>#}
{#            <img src="{% static 'assets/img/testimonials/testimonials-3.jpg' %}" class="testimonial-img" alt="">#}
{#            <h3>Jena Karlis</h3>#}
{#            <h4>Store Owner</h4>#}
{#          </div>#}
{##}
{#          <div class="testimonial-item">#}
{#            <p>#}
{#              <i class="bx bxs-quote-alt-left quote-icon-left"></i>#}
{#              Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore.#}
{#              <i class="bx bxs-quote-alt-right quote-icon-right"></i>#}
{#            </p>#}
{#            <img src="{% static 'assets/img/testimonials/testimonials-4.jpg' %}" class="testimonial-img" alt="">#}
{#            <h3>Matt Brandon</h3>#}
{#            <h4>Freelancer</h4>#}
{#          </div>#}
{##}
{#          <div class="testimonial-item">#}
{#            <p>#}
{#              <i class="bx bxs-quote-alt-left quote-icon-left"></i>#}
{#              Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa.#}
{#              <i class="bx bxs-quote-alt-right quote-icon-right"></i>#}
{#            </p>#}
{#            <img src="{% static 'assets/img/testimonials/testimonials-5.jpg' %}" class="testimonial-img" alt="">#}
{#            <h3>John Larson</h3>#}
{#            <h4>Entrepreneur</h4>#}
{#          </div>#}

        </div>

      </div>
    </section><!-- End Testimonials Section -->